*{
    margin: 0;
    padding: 0;
}
.all-navigation{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 8px;
}
.all-navigation a{
    color: white;
    text-decoration: none;

}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}